<div id="particles-js" class="short"></div>

<div class="login-wrap pb-5">
    <div class="login">
        <h1 class="my-4 text-white">REGISTER</h1>
        <form method="POST">
            <%-include("./partials/messages") %>
            <div class="mb-3">
                <label class="form-label text-white">Your Username: </label>
                <input name="username" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Password: </label>
                <input name="password" type="password" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Retype Password: </label>
                <input name="password2" type="password" class="form-control">
            </div>
            <button style="width: 100%;" type="submit" class="btn btn-primary">Signup</button>
            </form>
    </div>
</div>